<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>user</display-name>
    <servlet-name>user</servlet-name>
    <servlet-class>RegisterModel.user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <display-name>LyssaaLiciouss</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ViewOrdersServlet</servlet-name>
    <servlet-class>adminPack.ViewOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrdersServlet</servlet-name>
    <url-pattern>/viewOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>paymentProject.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/add-to-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuantityIncDecServlet</display-name>
    <servlet-name>QuantityIncDecServlet</servlet-name>
    <servlet-class>paymentProject.QuantityIncDecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuantityIncDecServlet</servlet-name>
    <url-pattern>/quantity-inc-dec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCartServlet</display-name>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <servlet-class>paymentProject.RemoveFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <url-pattern>/remove-from-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderNowServlet</display-name>
    <servlet-name>OrderNowServlet</servlet-name>
    <servlet-class>paymentProject.OrderNowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderNowServlet</servlet-name>
    <url-pattern>/order-now</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutServlet1</display-name>
    <servlet-name>CheckOutServlet1</servlet-name>
    <servlet-class>paymentProject.CheckOutServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutServlet1</servlet-name>
    <url-pattern>/cart-check-out1</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SignUpServlet1</display-name>
    <servlet-name>SignUpServlet1</servlet-name>
    <servlet-class>RegisterModel.SignUpServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet1</servlet-name>
    <url-pattern>/SignUpServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SignInServlet</display-name>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>RegisterModel.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/sign-in</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ForgotPassServlet</display-name>
    <servlet-name>ForgotPassServlet</servlet-name>
    <servlet-class>RegisterModel.ForgotPassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassServlet</servlet-name>
    <url-pattern>/forgot-pass</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>NewPassword</display-name>
    <servlet-name>NewPassword</servlet-name>
    <servlet-class>RegisterModel.NewPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPassword</servlet-name>
    <url-pattern>/new-pass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignInServlet1</display-name>
    <servlet-name>SignInServlet1</servlet-name>
    <servlet-class>RegisterModel.SignInServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet1</servlet-name>
    <url-pattern>/SignInServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentControl1</display-name>
    <servlet-name>PaymentControl1</servlet-name>
    <servlet-class>paymentProject.PaymentControl1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentControl1</servlet-name>
    <url-pattern>/payment1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentControl</display-name>
    <servlet-name>PaymentControl</servlet-name>
    <servlet-class>paymentProject.PaymentControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentControl</servlet-name>
    <url-pattern>/PaymentControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiptServlet2</display-name>
    <servlet-name>ReceiptServlet2</servlet-name>
    <servlet-class>paymentProject.ReceiptServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiptServlet2</servlet-name>
    <url-pattern>/receipt-new</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDataServlet1</display-name>
    <servlet-name>AdminDataServlet1</servlet-name>
    <servlet-class>adminPack.AdminDataServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDataServlet1</servlet-name>
    <url-pattern>/get-admin-data</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>ForgotPassServlet1</display-name>
    <servlet-name>ForgotPassServlet1</servlet-name>
    <servlet-class>RegisterModel.ForgotPassServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassServlet1</servlet-name>
    <url-pattern>/ForgotPassServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPassword1</display-name>
    <servlet-name>NewPassword1</servlet-name>
    <servlet-class>RegisterModel.NewPassword1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPassword1</servlet-name>
    <url-pattern>/NewPassword1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderHistoryServlet1</display-name>
    <servlet-name>OrderHistoryServlet1</servlet-name>
    <servlet-class>OrderHistoryServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderHistoryServlet1</servlet-name>
    <url-pattern>/OrderHistoryServlet1</url-pattern>
  </servlet-mapping>
</web-app>